@model CasoPractico2.BLL.Dtos.ProductoDto

@{
    ViewData["Title"] = "Detalle del Producto";
}

<h2>Detalle del Producto</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>

        <dt class="col-sm-2">Precio</dt>
        <dd class="col-sm-10">@Model.Precio.ToString("C")</dd>

        <dt class="col-sm-2">Stock Actual</dt>
        <dd class="col-sm-10">@Model.Stock unidades</dd>
    </dl>
</div>

<div>
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>